<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="de" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Thank You very much for Providin</title>
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-size: x-large;
}
.auto-style3 {
	text-align: center;
	font-size: x-large;
}
</style>
</head>

<body>

<p class="auto-style1">
<img alt="https://i.pinimg.com/474x/76/63/b0/7663b0fcfe51c299e5d9790c12f9084d.jpg" src="https://i.pinimg.com/474x/76/63/b0/7663b0fcfe51c299e5d9790c12f9084d.jpg" />
<p class="auto-style3"><strong>Thank You very much for Providing Your Feedback!</strong></p>
<p class="auto-style1"><strong><span class="auto-style2">You can now close the 
window.</span></strong><form method="post">
	<table align="center" style="width: 36%; padding-top: 40 px; margin-top: 50px">
		<tr>
			<td><strong>Optional: Here you can write a message if something went 
			wrong and the like.</strong></td>
		</tr>
		<tr>
			<td>
			<input name="feedback" style="width: 380px; height: 86px" type="text" /><input name="Submit1" type="submit" value="Send" /></td>
		</tr>
	</table>
</form>
</p>

</body>

</html>

    