<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="de" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Ohne_Titel_1</title>
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-size: large;
}
</style>
</head>

<body>

<h2 class="auto-style1" >Section 2</h2>
<p class="auto-style1"><span class="auto-style2">Relevance with reference to similar arrangements of objects in the scene.</span><br class="auto-style2" />
<span class="auto-style2">Objects 
are for examples: mountains, tables, trees, buildings, clouds, books etc..</span></p>

<img alt="" height="390" src="/static/similar-scenes.png" style=" padding-top: 20px; padding-bottom: 30px;  margin-left: auto;
margin-right: auto; display: block" width="468"/>

<form method="post">
	<div class="auto-style1">
	<input name="startannotation" type="submit" value="Continue" style="width: 85px; height: 31px" /></div>  
</form>

</body>

</html>
